* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.app-title {
  color: #007bff;
  padding: 1rem;
  margin: 1rem;
  font-size: 4rem;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  font-family: 'Bigelow Rules', cursive;
}

.monster-search-box {
  width: 80%;
  max-width: 500px;
  margin: 1.5rem auto;
}
