/* Lottery bileşeni için ana kapsayıcı */
.lottery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Başlık stili */
  .lottery-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Topların bulunduğu kapsayıcı */
  .balls-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Buton stili */
  .lottery-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .lottery-button:hover {
    background-color: #0056b3; /* Hover durumunda buton rengi */
  }
  